{% extends 'base.html' %}

{% load static %}

{% block 'content' %}

 <!-- ...:::: Start Breadcrumb Section:::... -->

 <div class="breadcrumb-section breadcrumb-bg-color--pink" style="margin-top: 10%;">

    <div class="breadcrumb-wrapper">

      <div class="container">

        <div class="row">

          <div class="col-12 text-center">

            <h3 class="breadcrumb-title">🎀 Payment Successful! 🎀</h3>

           

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- ...:::: End Breadcrumb Section:::... -->


  <!-- ...:::: Start Success Section :::... -->

  <div class="success-section text-center" style="margin-top: 30px;">

    <div class="container">

      <div class="row">

        <div class="col-12">

          <h1 class="big-title" data-aos="fade-up" data-aos-delay="0">💖 Yay! 💖</h1>

          <h4 class="sub-title" data-aos="fade-up" data-aos-delay="200">

          🎉 Your payment was successful! 🎉

          </h4>

          <p data-aos="fade-up" data-aos-delay="400">

           Thank you for shopping with us! 💕✨<br/>

           We hope you enjoy your purchase. 💄👑

          </p>

          <div class="row">

            <div class="col-10 offset-1 col-md-4 offset-md-4">

              <a

                href="{% url 'root:home' %}"

                class="btn btn-md btn-pink-default-hover mt-7"

                data-aos="fade-up"

                data-aos-delay="800"

                >🔙 Back to Home</a

              >

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

  <!-- ...:::: End Success Section :::... -->


{% endblock 'content' %}